.container {
    padding: 57px 27px;
    color: white;
    background-image: url(../Images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.Main-title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.Main-items {
    margin-top: 46px;
    max-width: 400px;
}
    li {
        line-height: 19px;
        padding-block: 10px;
    }
    /* marker is used to select the bullet or number formatting*/
    li::marker {
        font-size: 1.4rem;
        color: #61DAFB;
    }
